<div id="<%= dom_id employee %>">
  <p>
    <strong>Id:</strong>
    <%= employee.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

</div>
